@model ImportarViewModel;

@{
   ViewData["Title"] = "Importar Dados";
}
<h1>@ViewData["Title"]</h1>

@if (!String.IsNullOrEmpty(ViewBag.Mensagem))
{
   <div class="alert alert-success" role="alert">
      @ViewBag.Mensagem
   </div>
}

<form class="col-xs-12" method="post" action="" enctype="multipart/form-data">

   <div class="form-group">
      <label for="exampleFormControlFile1">Escolha o arquivo *.csv para importação.</label>
      <input type="file" class="form-control-file" name="Arquivo" />
   </div>

   <div class="form-group">
      <button type="submit" class="btn btn-primary col-xs-12">Adicionar</button>
   </div>
</form>