<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Bem-Vindo! @User.Identity.Name</h1>
        <p class="lead">Aqui você pode alimentar com dados o vacinômetro!</p>
        <hr class="my-4">
        <p>Atualmente, só é possível alimentar o vacinômetro com arquivos exportado do <a href="https://notifica.saude.gov.br/">eSUS Notifica</a>.</p>
        <p>O arquivo <b>*.csv</b> gerado pelo <b>eSUS Notifica</b> deve possuir os seguintes campos: </p>
        <pre>
paciente_nome;
paciente_enumSexoBiologico;
paciente_dataNascimento;
vacina_dataAplicacao;
vacina_fabricante_nome;
vacina_grupoAtendimento_nome;
vacina_lote;
vacina_numDose;
estabelecimento_valor
        </pre>

        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Importar" asp-action="Importar" role="button">Importar Dados</a>
        </p>
    </div>
</div>
