@{
    ViewData["Title"] = "Home Page";
}

@using RepositorioCSV
@model List<ViewModelPaciente>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var paciente in Model)
    {
        <div>
            <p>@paciente.Nome</p>
        </div>
    }
</div>
